body {
  background-color: #000;
  padding-bottom: 200px;
  color: #fff;
}
.body-container {
  max-width: 600px;
  margin: 0 auto;
  padding-top: 72px;
  font-size: 1.125em;
  line-height: 1.5em
}
img {
  margin-top: 50px;
}
p {
  position: fixed;
  bottom: 0;
}
